.title{
   
    font-size: 15vh;
    color: brown;
}


.wordScramble{
height: 40vh;
display: flex;
justify-content: space-around;
align-items: center;
}


.directions{
    font-size: 5vh;
    color: brown;
   
    background-color: black;
    width: 25%;
}

#div1{
    display: flex;
    border: solid black;
    border-width: 5vh;
    color:brown;
    font-size: 25vh;
    margin-left: 30%;
}

.btnSize{
    height: 5em;
    width: 5em;
    background-color: brown;
}

#div2{
    display: flex;
    border: solid black;
    border-width: 5vh;
    color:brown;
    font-size: 25vh;
    margin-right: 25%;
}

/*.letter{
    display: flex;
    border: solid black;
    border-width: 5vh;
    color:brown;
    font-size: 25vh;
}

.letter2{
    display: flex;
    border: solid black;
    border-width: 5vh;
    color:brown;
    font-size: 25vh;
} */


.scoreboard{
    color: brown;
    height: 15vh;
    font-size: 15vh;
}


.img{
   background-size: cover;
}

